.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 7rem 0;

    .btn-icon {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 2rem;
        color: var(--black);
        background: unset;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            color: var(--primary);
        }
    }

    .btn-icon.dis {
        opacity: 0.5;

        &:hover {
            color: var(--black);
        }
    }

    .button {
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--buttonPagination);
        text-align: center;
        cursor: pointer;
        color: var(--white);
        padding: 4px;

        &:hover {
            background-color: var(--buttonPagination-active);
            color: var(--black);
        }
    }

    .button.active {
        background-color: var(--buttonPagination-active);
        color: var(--black);
        padding: 4px;
    }
}
