.wrapper {
    margin: 0 var(--margin-responsive);
}

.collection-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 108%;
    }

    &__desc {
        width: 430px;
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        text-align: center;
    }
}

.collection-intro {
    padding-bottom: 40px;

    &__title {
        font-size: 30px;
        font-weight: 600;
        line-height: 108%;
        padding-bottom: 15px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 25px;

        &-content {
            border: 1px solid #141313;
            border-radius: 10px;
            background: #fefaf0;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            p {
                padding: 15px;
                font-size: 14px;
                font-size: 300;
            }
        }
    }
}

// .collection-list {
// }
