.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 190px;
}

.content {
    display: flex;
    margin-top: 4%;
}

.filter {
    width: 23%;
}

.right-shop {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.short {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 2%;
}

.shorting {
    margin-right: 20px;
    padding: 0 50px 0 18px;
    height: 35px;
    color: #4c4c4c;
    border-radius: 5px;
    font-size: 14px;

    &:focus-visible {
        border: 1px solid #4c4c4c;
    }
}

.product-quantity {
    color: #636363;
}

.product-tags {
    display: flex;
    flex-wrap: wrap;
}