.wrapper {
    padding: 0 15px;
    margin-bottom: 42px;
    width: 50%;
}

.highlight {
    color: #252525;
    font-weight: 700;
    line-height: 30px;
    padding-top: 24px;
    margin-bottom: 16px;

    p {
        font-size: 24px;
        cursor: pointer;
    }
}

.timeline {
    display: flex;
    align-items: center;

    p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #e7ab3c;
        letter-spacing: 2px;
        line-height: 20px;
    }

    span {
        color: #b2b2b2;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: 14px;
    }
}
