.wrapper {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 0 80px 0;
}

.product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 0 65px;
}

.product-left {
    max-width: 25%;
    img {
        width: 100%;
        height: 620px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
        position: relative;
        object-fit: cover;
    }
}

.intro {
    position: absolute;
    top: 200%;
    left: 9%;
    color: white;

    h1 {
        font-size: 48px;
    }

    span {
        position: absolute;
        left: 20%;
        font-size: 18px;
        cursor: pointer;
    }
}

.product-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    margin-left: 1.2%;
}

.right-option {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 32px;

    span {
        display: inline-block;
        font-size: 20px;
        color: #b2b2b2;
        margin-right: 22px;
        position: relative;
        cursor: pointer;

        &:first-child {
            color: black;
            border-bottom: 2px solid black;
        }
    }
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        font-size: 30px;
    }
}

.back {
    margin-right: 25px;
}

.product-item {
    height: 100%;
    margin-right: 25px;
    position: relative;

    &:hover {
        .product-favorite {
            transition: all 0.3s;
            animation: favorite1 0.5s;
            top: 6%;
            opacity: 1;
        }

        .product-option {
            // display: block;
            transition: all 0.3s;
            animation: option1 0.5s;
            top: 66.9%;
            opacity: 1;
        }
    }
}

@keyframes favorite1 {
    0% {
        top: 0;
    }
    100% {
        top: 6%;
    }
}

@keyframes option1 {
    0% {
        top: 70%;
        left: 0;
        right: 0;
        opacity: 0;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        top: 66.9%;
        left: 0;
        right: 0;
        opacity: 1;
    }
}

.product-img {
    height: 346px;
    cursor: pointer;

    img {
        height: 100%;
    }
}

.product-favorite {
    opacity: 0;
    position: absolute;
    font-size: 20px !important;
    top: 0;
    right: 10%;
    transition: all 0.3s;
    animation: favorite2 0.5s;
}

@keyframes favorite2 {
    0% {
        top: 6%;
    }
    100% {
        top: 0;
    }
}

.product-sale {
    position: absolute;
    color: #ffffff;
    font-size: 10px;
    background: #76bc42;
    top: 5%;
    left: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.product-option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 66.9%;
    left: 0;
    right: 0;
    transition: all 0.3s;
    animation: option2 0.5s;
    opacity: 0;

    .option-icon {
        font-size: 46px;
        color: #ffffff;
        padding: 16px 0px 9px 0px;
        background-color: #e7ab3c;
        margin-right: 2%;
        cursor: pointer;
    }

    span {
        font-size: 16px;
        font-weight: 700;
        color: black;
        background-color: white;
        padding: 20px;
        padding-bottom: 3px;
        padding-top: 19px;
        margin-right: 2%;
        cursor: pointer;
    }

    .option-shuffle {
        font-size: 16px;
        background-color: white;
        padding: 15px;
    }
}

@keyframes option2 {
    0% {
        top: 66.9%;
        left: 0;
        right: 0;
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 76.9%;
        left: 0;
        right: 0;
        opacity: 0;
    }
}

.product-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 26px;
}

.product-type {
    color: #b2b2b2;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 15px;
    margin: 0px 0px 10px;
    text-transform: uppercase;
}

.product-name {
    color: #252525;
    font-size: 18px;
    line-height: 21.6px;
}

.product-price {
    display: flex;
    align-items: center;
    color: #e7ab3c;
    font-size: 20px;
    font-weight: 700;

    span {
        font-size: 14px;
        font-weight: 400;
        color: #b2b2b2;
        text-decoration: line-through;
        margin-left: 12%;
    }
}
